<br><br>
<!-- Footer start -->
<!-- Footer -->
<footer>

<!-- Footer Elements -->
<div class="container text-center" >
<img src="/img/cover.png" class="img-fluid" alt="Uday Singh">
  <!-- Grid row-->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12 py-3">

        <!-- Facebook -->
        <a class="fb-ic" href="https://www.facebook.com/udaysingh92" target="_blank">
          <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic" href="https://twitter.com/udays236" target="_blank">
          <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic" href="https://www.linkedin.com/in/uday-singh-55438343/" target="_blank">
          <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--GitHub-->
        <a class="pin-ic" href="https://github.com/udaysingh236" target="_blank">
          <i class="fab fa-github fa-lg white-text fa-2x"> </i>
        </a>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->

</div>
<!-- Footer Elements -->

<!-- Copyright -->
<p align='center'>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fas fa-heart fa-lg" aria-hidden="true"></i> by <a href="https://udaysingh.xyz" target="_blank">Uday Singh</a></p>
<!-- Copyright -->

</footer>
<!-- Footer -->
<!-- Footer end -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>