<!-- Nav bar starts -->
<nav class="navbar navbar-expand-lg navbar-light">
    <!-- <a class="navbar-brand" href="">tindog</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" >
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
         <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                 <a class="nav-link active" style="color:blue;font-size:18px; padding-right: 35px;" href="/"><strong>Home</strong></a>
             </li>
             <li class="nav-item">
                    <a class="nav-link" style="color:blue;font-size:18px; padding-right: 35px;" href="">Blog</a>
            </li>
             <li class="nav-item">
                    <a class="nav-link" style="color:blue;font-size:18px; padding-right: 35px;" href="https://github.com/udaysingh236" target="_blank">GitHub</a>
            </li>
             <li class="nav-item">
                    <a class="nav-link" style="color:blue;font-size:18px; padding-right: 35px;" href="https://www.qwiklabs.com/public_profiles/4f68e39d-710f-4656-80ed-63476f0f2523" target="_blank">QwikLab</a>
            </li>
             <li class="nav-item">
                 <a class="nav-link" style="color:blue;font-size:18px; padding-right: 80px;" href="/contact">Contact</a>
             </li>
         </ul>
    </div>
</nav>
<!-- Nav bar ends -->
<br>