<% include partials/header %>
<% include partials/navbar %>

<!-- Main body start -->
<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-7">
            <h1>Hello, <br> I am Sucess User</h1>
            <h3>Perseverant, Web Developer, <br>
            DevOps Engineer and Cloud Migration Expert.</h3>
            <button type="button" class="btn btn-primary btn-lg mr-2">Hire me</button>
            <button type="button" class="btn btn-outline-primary btn-lg ml-2">Get my CV</button>
        </div>
            <div class="col-lg-5">
                <div class="mainHeadImgcol">
                    <img src="/img/home-right.png" class="img-fluid" alt="GEEK">
                </div>
            </div>
    </div>
</div>
<!-- Main body end -->
 <!-- Sub Body 1 start -->
<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col-lg-4">
            <div class="mainHeadImgcol">
                <img src="/img/sub-1.jpg" class="img-fluid" alt="GEEK">
            </div>
        </div>
        <div class="col-lg-8">
            <h2><strong>Who is this Guy?</strong></h2>
            <p>I am from Rajasthan, <strong>India</strong> and working in <strong>Mumbai</strong>. As a <strong>Senior Analyst and Application Developer</strong> I spend most of my time doing POCs (Proof of Concept) and Development . I am a tea lover and like to explore new places, during my day time you can find me reading some Articles, laughing and talking with my colleagues and during my night time I do my own work to enhance my skills and offcouse sipping tea. <br> I am a perseverant and like challenges, I think this world will be more beautiful and peaceful if capable people start leading from the front.</p>
        </div>
    </div>
</div>
<!-- Sub Body 1 end -->
<br><br>
<!-- My skills body start -->
<div class="container">
    <h2 align='center'><strong>My Skills and Area of Expertise</strong></h2>
    <h6 align='center'>I always try to do somthing Fabulous and Challenging</h6>
    <br>
    <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Area of Expertise</th>
                <th scope="col">Skills</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Cloud (SaaS, PaaS)</th>
                <td>AWS, Azure, Oracle Cloud</td>
              </tr>
              <tr>
                <th scope="row">Languages and Frameworks</th>
                <td>Node.js, GoLang or GO, JavaScript, C/C++, HTML</td>
              </tr>
              <tr>
                <th scope="row">Databases, In-Memory Data store</th>
                <td>Oracle, Mongo, Couchbase, Redis, Memcache</td>
              </tr>
              <tr>
                <th scope="row">DevOps</th>
                <td>Git, Gitlab, Jenkins, Terraform, Ansible</td>
              </tr>
              <tr>
                <th scope="row">Deployment</th>
                <td>Docker, Kubernetes, ECS</td>
              </tr>
              <tr>
                <th scope="row">Messaging, Streaming and Queues</th>
                <td>Kafka, Confluent, RabbitMQ</td>
              </tr>
              <tr>
                <th scope="row">Monitoring</th>
                <td>ELK (Elastic Search, Logstash, Kibana), CloudWatch, Rancher</td>
              </tr>
              <tr>
                <th scope="row">Operating System</th>
                <td>Linux, Windows</td>
              </tr>
            </tbody>
          </table>
</div>
<!-- My skilles body end -->

<% include partials/footer %>