<!DOCTYPE html>
<html>
<head>
	<title><%= status %></title>
</head>
<body>
<h2 align='center'><%= message %></h2>
</body>
<script>
window.addEventListener('load', function () {
	window.setTimeout(() => {
		window.location = "https://udaysingh.xyz";
	}, 2500);
})
</script>
</html>